.project-footer {
    background-color: #1b2239; 
    padding: 40px;
    display: flex;
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px; 
    color: white;
    margin: 50px auto;
    position: relative;
    bottom: -7rem;
    z-index: 3;
  }
  
  .project-footer h2 {
    font-size: 2rem;
    margin: 0;
    color: white;
  }
  
  .project-footer p {
    font-size: 1.2rem;
    color: #d0d7e2;
  }
  
  .contentp{
    max-width: 30rem;
  }
  .button-container {
    text-align: right;
  }
  
  .cta-button {
    background-color: transparent;
    color: white;
    border: 2px solid #00ffbd; 
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #00ffbd; 
    color: #1b2239;
    border-color: transparent;
  }
  .footer{
    z-index: 1;
    background: #8300fd;
    width: 100vw;
    height: 40rem;
    display:  flex;
    position:relative;
    justify-content: center;
    align-items: center;
    left:49.1%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  .footer-contents{
    z-index: 2;
    position:absolute;
  margin: 8rem auto;
  }
  
  .social-div{
    display: flex;
    justify-content: space-between;
    pointer-events: auto;
    
  }
  .social-icons{
    margin: 0 10px;
    height: 3rem;
    width: 3rem;

  }
.footer-credits{
  margin-top: 18rem;
  font-size: 1.2rem;
}
  
